@model IEnumerable<FindProperty.Models.Property>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
    var target = "#carousel" + item.id.ToString();
    var id = "carousel" + item.id.ToString();
    <div class="card mb-3">
        <div class="card-body">
            <div class="mb-1">
                <div id="@id" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="@target" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        @for (int i = 1; i < item.images.Count; i++)
                        {
                            <button type="button" data-bs-target="@target" data-bs-slide-to="@i" aria-label="Slide @i+1"></button>
                        }
                    </div>
                    <div class="carousel-inner" style="color: dimgray">
                        @for (int i = 0; i < item.images.Count(); i++)
                        {
                            if (i == 0)
                            {
                                <div class="carousel-item active">
                                    <img src="@item.images[i]" class="d-block" style="height:250px">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img src="@item.images[i]" class="d-block" style="height:250px">
                                </div>
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="@target" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="@target" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <h4 class="card-title my-3">RM @item.fee</h4>
            <div class="my-3">
                <h4 mb-1 text-muted">@item.title</h4>
                <h5>@item.address</h5>
            </div>
            <p class="card-subtitle my-3">@item.type | Built-up : @item.size sq. ft. | @item.furnishing</p>
            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
        </div>
    </div>
}
